# .NET
backend/bin/
backend/obj/
backend/.vs/
*.user

# Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# React (Vite)
frontendwithreact/node_modules/
frontendwithreact/dist/

# OS
.DS_Store
Thumbs.db
